#contact{
  .col{

    background-color:#7cc576;
    color:#ffffff;
    padding:30px;
    text-align: center;
    font-weight: bold;
    p{
      border-radius: 4px;
      border: 2px solid white;
      width: 10%;
      padding: 2px;
      margin-top:25px
    }
  }
  .comp{
    margin-top: 14em;
    margin-left: 20%;

    .imgs{
      margin-right: 30px;
      width: 15%;
      padding:5vh 0;

    }
  }
  .black{
    background-color:#000000;
    padding:5vh 0;
  }
  .white{
    background-color: #ffffff;
    padding:5vh 0;  
    .cr{
      text-align: center;
    }
    .inc{
      padding-bottom:10px;
      padding-left:10em;
      .big{
      margin-right:18px;
        
      }
    }
  }
}